<div>
  <p>UNO</p>
  <ul>
    <li>
      <a href="/">Landing</a>
    </li>
    <li>
      <a href="/lobby">Lobby</a>
    </li>
    <li>
      <a href="/auth">Sign Up</a>
    </li>
    <li>
      <a href="/auth/logout">Log out</a>
    </li>
  </ul>
</div>