<link href="/css/navbar.css" rel="stylesheet" type="text/css">

<div class="navbar">
  <p class="navbar-title">UNO</p>
  <div class="navbar-link-container">
    <div class="navbar-link">
      <a href="/">Landing</a>
    </div>
    <div class="navbar-link">
      <a href="/lobby">Lobby</a>
    </div>
    <div class="navbar-link">
      <a href="/auth">Sign Up</a>
    </div>
    <div class="navbar-link">
      <a href="/auth/logout">Log out</a>
    </div>
  </div>
</div>