<link href="/css/navbar.css" rel="stylesheet" type="text/css">

<div class="navbar">
  <img src="../UNO_Logo.jpg" alt="logo" /> 
  <div class="navbar-link-container">
    <div class="navbar-link">
      <a class="navLink" href="/">Home</a>
    </div>
    <div class="navbar-link">
      <a class="navLink" href="/lobby">Lobby</a>
    </div>
    <div class="navbar-link">
      <a class="navLink" href="/auth">Sign Up</a>
    </div>
    <% if(user !==undefined){%>
      <div class="navbar-link">
        <a class="navLink" href="/auth/logout">Log out</a>
      </div>
      <% } %>
  </div>
  <% if(user !==undefined){ %>
    <div class="navbar-name">
      <h3>
        <%=user.username%>
      </h3>
    </div>
    <% } %>
</div>