<!DOCTYPE html>
<html>

<head>
  <title>Game <%=id%>
  </title>
</head>

<body>
  <main>
    <p>This is the page for game <%=id%>
    </p><br>
    <p>
      <%= user.id %>:<%= user.email %>
    </p><br>
    <a href="/">Back to Landing</a>
  </main>

</body>

</html>