<!DOCTYPE html>
<html>

<head>
  <title>Game <%=id%>
  </title>
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/games.js" defer></script>

</head>

<body>
  <main>
    <p>This is the page for game <%=id%>
    </p>
    <input type="hidden" name="game-socket-id" id="game-socket-id" value="<%= gameSocketId %>" />

    <%- include("partials/chat", { roomId: id }); %>
      <a href="/lobby">Back to Lobby</a>
  </main>

</body>

</html>