<html>

<head>
  <title>Landing Page</title>
</head>

<body>
  <p>This is the landing page for players not signed in.
  </p>

  <a href="auth">Sign Up</a><br>
  <a href="lobby">Lobby</a><br>
  <a href="game/42">Game 42</a><br>
</body>

</html>