<html>

<head>
  <title>Global Lobby</title>
</head>

<body>
  <p>This is the global lobby. Global chat and room creation / joining games goes here.
  </p>
  <a href="/">Back to Landing</a>
</body>

</html>