<!DOCTYPE html>
<html>

<head>
  <title>Global Lobby</title>
</head>

<body>
  <main>
    <%- include("partials/navbar"); %>
      <p>This is the global lobby. Global chat and room creation / joining games goes here.
      </p>
      <p>
        <%= user.id %>:<%= user.email %>
      </p><br>
  </main>
</body>

</html>