<!DOCTYPE html>
<html>

<head>
  <title>Global Lobby</title>
  <%- include("partials/navbar"); %>
</head>

<body>
  <p>This is the global lobby. Global chat and room creation / joining games goes here.
  </p>
</body>

</html>