<!DOCTYPE html>
<link href="/css/lobby.css" rel="stylesheet" type="text/css">

<html>

<head>
  <title>Lobby</title>
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/lobby.js" defer></script>
</head>

<body>
  <main>
    <%- include("partials/navbar"); %>
      <h1 id="title">Lobby</h1>
      <div class="flexbox">
        <div class="column games-column">
          <h2>Available Games</h2>
          <form action="/game/create" method="get" class="createBtnForm">
            <button class="createbtn" type="submit">Create New Game</button>
          </form>
          <section id="game-list">
            <ul class="game-list-ul">
              <% availableGames.forEach((game)=> { %>
                <a href="/game/<%= game.id%>/join">Join <%= game.id%></a>
                <% }); %>
            </ul>
          </section>

          <template id="join-game-entry">
            <li>
              <a href=""></a>
            </li>
          </template>

        </div>
        <div class="column">
          <%- include("partials/chat", {roomId: 0}) %>
        </div>
      </div>
  </main>

</body>

</html>