<html>

<head>
  <title>Authentication</title>
</head>

<body>
  <p>This is the page for sign up / log in</p>
  <a href="/">Back to Landing</a>

  <form>
    <legend>Sign Up</legend>
    <label>Username:</Label><br>
    <input type="text"><br>
    <label>Password:</label><br>
    <input type="password"><br>
    <input type="submit" value="Submit">
  </form>

  <form>
    <legend>Login</legend>
    <label>Username:</Label><br>
    <input type="text"><br>
    <label>Password:</label><br>
    <input type="password"><br>
    <input type="submit" value="Submit">
  </form>



</body>

</html>