.message {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  width: 90%;
}

.message-avatar {
  margin-right: 5px;
}

.user {
  background-color: lightblue;
  float: right;
}

.not-user {
  background-color: lightgray;
  float: left;
}

.chat-input {
  display: flex;
  justify-content: center;
}

.input-message {
  margin: 5px 2px;
  width: 90%;
}