#start-form {
  display: none;
}

#game-board {
  display: flex;
  min-width: 100%;
  min-height: 30em;
  border: 1px black solid;
}

#message-log {
  border: 1px black solid;
  min-width: 25%;
}

#game {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  min-width: 75%;
}

#opponents {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  min-height: 20%;
}

.opponent {
  border: 1px black solid;
}

#current-card {
  border: 1px black solid;
  min-height: 30%;
}

#player-cards {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  min-height: 20%;
}

.card {
  border: 1px red solid;
  width: 4em;
  height: 5em;
}