.welcome-text {
  width: fit-content;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  width: fit-content;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

legend {
  width: fit-content;
  margin: auto;
}

label,
input {
  margin: 5px;
}

.error {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: red;
  padding: 5px;
  border-radius: 5px;
}